[project]
	description = Implementation Of Basic Data Structures
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/ajm1kor
[access "refs/for/refs/*"]
	read = group user/ajm1kor
	push = group user/ajm1kor
	label-Code-Review = -2..+2 group user/ajm1kor
	label-Verified = -1..+1 group user/ajm1kor
	rebase = group user/ajm1kor
	removeReviewer = group user/ajm1kor
	submit = group user/ajm1kor
[access "refs/heads/*"]
	read = group user/ajm1kor
	create = group user/ajm1kor
	push = +force group user/ajm1kor
	pushMerge = group user/ajm1kor
[access "refs/tags/*"]
	push = group user/ajm1kor
	push = +force group user/ajm1kor
